body, html {  
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(255, 255, 255, 0.45), 
        rgba(255, 255, 255, 0.45)
      ),
      /* bottom, image */
      url(https://images.unsplash.com/photo-1504123369993-0c399eb1e6b2?dpr=1&auto=format&fit=crop&w=1348&h=&q=60&cs=tinysrgb&crop=)
      no-repeat center center fixed
      ;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.footer {
  margin-top: 100px;
  position:relative;  
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  
}

.ui.stackable.menu {
  margin-bottom: 24px;
}
@media (min-width: 480px) {
.App > div > .ui.container {
  padding-top:60px; 
  padding-bottom:60px;
  min-height:350px;
}
}
 
body, html {
  height: auto!important;
}