body, html {  
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(255, 255, 255, 0.45), 
        rgba(255, 255, 255, 0.45)
      ),
      /* bottom, image */
      url('/img/background-photo-1504123369993.jpg')
      no-repeat center center fixed
      ;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.footer {
  margin-top: 100px;
  position:relative;  
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  
}

.ui.stackable.menu {
  margin-bottom: 24px;
}
@media (min-width: 480px) {
.App > div > .ui.container {
  padding-top:60px; 
  padding-bottom:60px;
  min-height:350px;
}
}
 
body, html {
  height: auto!important;
}
p.sight-desc {
  font-size: 1.2rem;
}