
#quizForm div label {
  background-image: linear-gradient(to top,#969696,#727272);
  box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),
                    0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: transparent; 
}

#quizForm div label {
  color: #4F3774;
  display: block;
  width: calc(49% - 20px);
  float: left; 
  margin: 10px;
  cursor: pointer;
  background: #fff;
  padding:16px 8px;
  text-align:center;  
}
#quizForm div input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
#quizForm div label:hover {
  box-shadow: inset 0 1px 6px rgba(75, 36, 218, 0.331),
  0 1px 2px rgba(75, 36, 218, 0.531);
   color:rgba(39, 22, 109, 0.735)
}
#quizForm { border: 1px solid #ccc;}
#quizForm button { background:#4679BD; border: 1px solid #4679BD; padding: 8px 16px; font-size: 1.1rem; color:#fff;
  text-align: center;
  margin: 10px 10px 0 10px;
  width: calc(100% - 30px);
cursor: pointer;}
#quizForm button:hover, #quizForm button:focus, #quizForm button:active {
  background: rgb(56, 98, 153)
}
#quizForm button:after {
  content: "\232A";
  font-size: .9rem;
}
#quizForm hr { clear:both; margin: 15px 0;}
.quiz-answer-block li { padding-bottom: 1.5rem;}

.quiz-answer-block .answerQ { font-size: 1.2rem; line-height: 1.5rem;}
.quiz-answer-block blockquote { border-left: 5px solid #ccc; padding-left:10px; margin-left:5px; text-indent: 0; font-size: 1.1em; line-height: 1.4em; font-style: italic;}
.quiz-answer-block { padding:15px;} 
#quizForm div .answered .boo { background:#f00;}
#quizForm div .answered .woo { background: green;} 